{% extends parent_template|default:"coreorder/base_coreorder.html" %}

{% block title %}
  {{ block.super }} - Oder
{% endblock title %}


{% block css %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  
{% endblock css %}




{% block content %}

<div class="container-fluid">
<div class="row w-100 h-100">
  <div class="col-sm-0 col-md-3 d-none d-md-flex sidebar__maroon h-100">
    <h4>Hello</h4>
  </div>
  <div class="col-sm-12 col-md-9 sidebar__pink h-100">
    <!-- navbar -->
    <div class="row">
      <!-- context -->
    </div>
    <div class="row pt-5 ps-2 pb-5">
      <div class="col-sm-8">
        <div class="card card__is__shadow">
          <div class="card-body">
            <form action="{{get_absolute_url}}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <h3 class="form__title">Paper Instructions</h3>
              <div class="form-group">
                {{form.as_p}}
              </div>
            <button type="submit">submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ps-3">
        <div class="card">
          <div class="card-header py-4">
            <h3>SUMMARY</h3>
          </div>
          <div class="display__sumary d-flex px-3 py-4">
            Context
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}


{% block js %}
<!--   
<script>
  $( function() {
      $( "#id_deadline" ).datepicker();
    } );
    </script> -->
{% endblock js %}